li{
    display:  inline-block;
    margin-left: 50px;
    text-align: center;

}
.some{
    width: 140px;
    font-size: 25px;
}
.OR{
    width: 140px;
    border: none;
    background-color: red;
    font-size: 15px;
    border-radius: 17px;
    padding: 6px;
}
div{
    display: inline-block;
}
img{
    height: 500px;
    margin-left: 600px;

}
.text{
    vertical-align: top;
}



     
    
